.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: fit-content;
  width: 500px;
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 8px;
  grid-gap: 8px;
}
